include components/card

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Hello Bulma!
    link(rel="stylesheet", type="text/css" href="style.css")
  body
    +card("Berlin","Dernburgstraße 50","14057","Dasha Bradic","+49 17 362 350 95")
